{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <br>
    {% if recipe.description %}
    <p><b>Описание:</b> {{ recipe.description }}</p>
    {% else %}
    <p>Описания нет.</p>
    {% endif %}
    <br>
    <h2>Ингредиенты</h2>
    <a href="" class="btn btn-primary" style="background-color: #2e3f7f; color: white;">
        <b>➕ ингредиент</b>
    </a>
    {% if recipe.components.all %}
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: #2e3f7f; color: white;">
            <th>Название</th>
            <th>Количество (у. е.)</th>
            <th>Цена / 1 у. е.</th>
            <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
      {% for component in recipe.components.all %}
        <tr>
            <td>
                <a href="{% url 'core:component' component.pk %}">{{component.name}}</a>
                {% if user.is_superuser or request.user.id == component.owner.id %}
                (<a href="{% url 'core:component_update' component.pk %}">редактировать</a>) |
                (<a href="{% url 'core:component_delete' component.pk %}">удалить</a>)
                {% endif %}
            </td>
            <td>{{component.count}}</td>
            <td>{{component.price}}</td>
            <td>{{component.cost}}</td>


        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>Ингредиенты не добавлены.</p>
    {% endif %}
    <br>

    <h2>Инструменты</h2>
    <a href="" class="btn btn-primary" style="background-color: #2e3f7f; color: white;">
        <b>➕ инструмент</b>
    </a>
    {% if recipe.tools.all %}
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: #2e3f7f; color: white;">
            <th>Название</th>
            <th>Цена</th>
            <th>Срок использования (мес.)</th>
            <th>Время применения (час.)</th>
            <th>Амортизиция</th>
        </tr>
      </thead>
      <tbody>
      {% for tool in recipe.tools.all %}
        <tr>
            <td>
                <a href="{% url 'core:tool' tool.pk %}">{{tool.name}}</a>
                {% if user.is_superuser or request.user.id == tool.owner.id %}
                (<a href="{% url 'core:tool_update' tool.pk %}">редактировать</a>) |
                (<a href="{% url 'core:tool_delete' tool.pk %}">удалить</a>)
                {% endif %}
            </td>
            <td>{{ tool.cost }}</td>
            <td>{{ tool.usage }}</td>
            <td>{{ tool.time }}</td>
            <td>{{ tool.depreciation }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Инструменты не добавлены.</p>
    {% endif %}
    <br>
    <h3><b>Выход: {{ recipe.count }} (у. е.)</b></h3>
    <h3><b>{{ primecost_str }}</b></h3>
    <br><br>
    {% if recipe.owner %}
    <p>Создано пользователем <b>{{ recipe.owner.name }} ({{ recipe.owner.id }})</b></p>
    {% else %}
    <p>Создано гостем.</p>
    {% endif %}
    <br>
    <a href="{% url 'core:recipes' %}" class="btn btn-primary" style="background-color: #2e3f7f; color: white;"><b>Назад</b></a>
</div>
{% endblock %}